
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.iobj
*.ipdb
*.rsp
*.pch
*.idb
*.log


Debug/
Release/
x64/
x86/
ARM/
ARM64/


*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user
*.VC.db
*.VC.VC.opendb
*.opensdf
*.sdf
*.tlog/


*_i.c
*_p.c
*_h.h
*.tmp_proj
*.log


CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeSettings.json
CMakeUserPresets.json
CMakePresets.json


*.gcda
*.gcno
*.gcov


*.dmp


.vscode/
.idea/
*.code-workspace


.DS_Store
Thumbs.db
desktop.ini
